.rpg-card{
    font-family: BookInsanity, Georgia, 'Times New Roman', Times, serif;
    font-size: 0.8rem;
    page-break-inside: avoid;
    margin-bottom: 1rem;
}

.rpg-card > .title {
    font-size: 1.5rem;
    font-family: 'Mr Eaves Smallcaps', serif;
    color: #58170D;
  }

  .rpg-card > .subtitle {
    font-family: Georgia, serif;
  }

  .rpg-card > .picture {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .rpg-card > * {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }

  .rpg-card > .dndatsts-wrapper {
    margin: 0.5rem;
  }

  .rpg-card > .section {
    margin-top: 0.8rem;
  }

@media print {
    .nonprintable{
        display: none;
    }
 } 